<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/form.css">
    <title>Cadastro</title>
</head>
<body>
    <section>    
        <form action="http://127.0.0.1:5001/user" method="post">
            <div id="title">
                <span>Cadastrar</span>
            </div>
            <div>
                <label for="username">Usuário </label>
            </div>
            <div class="user">
                <input type="text" name="username" placeholder="Digite Seu Usuário" required>
            </div>
            <div>
                <label for="password">Senha</label>
            </div>
            <div class="user">
                <input type="password" name="password" placeholder="Digite Sua Senha" required>
            </div>
            <div>
                <button type="submit">Cadastrar</button>
            </div>

        </form>
    </section>
</body>
</html>